.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    background-color: var(--background);
    border-radius: 12px;
    padding: 20px;
}

.title {
    flex: 0 0 30%;
    font-weight: 700;
}

.description {
    flex: 0 0 70%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .title,
    .description {
        flex: 1 1 100%;
        width: 100%;
    }
}